Repository tryyang2001/CS3213-Frontend-Management-System, pull requests merged in 2024-03, with the labels that each got.

#8 Modify layout and create sidebar
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/common/SideBar.tsx
  frontend/src/styles/output.css
  frontend/tailwind.config.ts
  frontend/yarn.lock
Labels: FRONTEND

#12 Create login signup
  frontend/src/app/login/EyeFilledIcon.tsx
  frontend/src/app/login/EyeSlashFilledIcon.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/sign-up/page.tsx
Labels: enhancement, FRONTEND

#15 Create user profile page
  frontend/src/app/user/page.tsx
  frontend/src/components/common/FileInput.tsx
  frontend/src/components/common/ReadOnlyUserCard.tsx
  frontend/src/components/forms/AccountEditor.tsx
  frontend/src/components/forms/ProfileEditor.tsx
Labels: enhancement, FRONTEND

#24 Create Frontend Individual Assignment Page
  .gitignore
  frontend/package.json
  frontend/public/logo.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/src/app/(pages)/assignments/[id]/layout.tsx
  frontend/src/app/(pages)/assignments/[id]/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/assignment/AssignmentPage.tsx
  frontend/src/components/assignment/AssignmentQuestion.tsx
  frontend/src/components/common/ITSLogo.tsx
  frontend/src/components/common/LogoLoading.tsx
  frontend/src/components/common/Providers.tsx
  frontend/src/components/common/SideBar.tsx
  frontend/src/helpers/assignment-service/api-wrapper.ts
  frontend/src/types/HttpStatusCode.ts
  frontend/src/types/assignment-service.d.ts
  frontend/src/utils/dateUtils.ts
  frontend/tailwind.config.ts
  frontend/yarn.lock
Labels: FRONTEND

#14 Create Assignment Service
  .github/pull_request_template.md
  .github/workflows/execute_unit_tests.yml
  backend/assignment-service/.gitignore
  backend/assignment-service/README.md
  backend/assignment-service/jest.config.js
  backend/assignment-service/nodemon.json
  backend/assignment-service/package.json
  backend/assignment-service/src/app.ts
  backend/assignment-service/src/controllers/assignment-controller.ts
  backend/assignment-service/src/controllers/base-controller.ts
  backend/assignment-service/src/controllers/question-controller.ts
  backend/assignment-service/src/libs/docs/swagger.yaml
  backend/assignment-service/src/libs/enums/HttpStatusCode.ts
  backend/assignment-service/src/libs/utils/swagger-utils.ts
  backend/assignment-service/src/libs/validators/assignments/create-assignment-validator.ts
  backend/assignment-service/src/libs/validators/assignments/update-assignment-validator.ts
  backend/assignment-service/src/libs/validators/questions/create-question-validator.ts
  backend/assignment-service/src/libs/validators/questions/create-reference-solution-validator.ts
  backend/assignment-service/src/libs/validators/questions/create-test-cases-validator.ts
  backend/assignment-service/src/libs/validators/questions/delete-test-case-validator.ts
  backend/assignment-service/src/libs/validators/questions/update-question-validator.ts
  backend/assignment-service/src/libs/validators/questions/update-reference-solution-validator.ts
  backend/assignment-service/src/middlewares/cors.ts
  backend/assignment-service/src/models/db.ts
  backend/assignment-service/src/models/prisma/schema.prisma
  backend/assignment-service/src/models/types/assignment.d.ts
  backend/assignment-service/src/models/types/question.d.ts
  backend/assignment-service/src/models/types/reference-solution.d.ts
  backend/assignment-service/src/models/types/test-case.d.ts
  backend/assignment-service/src/routes/assignments/index.ts
  backend/assignment-service/src/routes/docs/index.ts
  backend/assignment-service/src/routes/index.ts
  backend/assignment-service/src/routes/questions/index.ts
  backend/assignment-service/src/services/assignments/delete-handler.ts
  backend/assignment-service/src/services/assignments/get-handler.ts
  backend/assignment-service/src/services/assignments/post-handler.ts
  backend/assignment-service/src/services/assignments/put-handler.ts
  backend/assignment-service/src/services/questions/delete-handler.ts
  backend/assignment-service/src/services/questions/get-handler.ts
  backend/assignment-service/src/services/questions/post-handler.ts
  backend/assignment-service/src/services/questions/put-handler.ts
  backend/assignment-service/src/tests/payloads/requests/create-assignment-payload.json
  backend/assignment-service/src/tests/payloads/requests/create-question-payload.json
  backend/assignment-service/src/tests/payloads/responses/assignments/get-assignments-response.ts
  backend/assignment-service/src/tests/unit/assignments/get-assignment-by-id.test.ts
  backend/assignment-service/src/tests/utils/create-test-server-utils.ts
  backend/assignment-service/tsconfig.json
  backend/assignment-service/yarn.lock
Labels: BACKEND

#9 User microservice
  backend/user-service/.dockerignore
  backend/user-service/.gitignore
  backend/user-service/Dockerfile
  backend/user-service/controllers/user-controller.ts
  backend/user-service/index.ts
  backend/user-service/middleware/auth.ts
  backend/user-service/models/user-model.ts
  backend/user-service/package-lock.json
  backend/user-service/package.json
  backend/user-service/psql.ts
  backend/user-service/routes/user-route.ts
  backend/user-service/tsconfig.json
  backend/user-service/yarn.lock
Labels: BACKEND

#23 Assignments dashboard
  frontend/src/app/assignments/dashboard/page.tsx
  frontend/src/app/assignments/submissions/page.tsx
  frontend/tailwind.config.ts
  yarn.lock
Labels: FRONTEND
